.apicard {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: 450px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-out;
}

.apicard:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}

.apicard h2, p, a {
  margin: 10px;
}

.apicard a {
  text-decoration: none;
  padding: 10px 20px;
  font-size: 17.5px;
  border: 1px solid white;
  border-radius: 5px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #282c34;
  background-color: white;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.apicard a:hover {
  background-color: #282c34;
  color: white;

}

.apicard a:active {
  background-color: white;
  color: #282c34;
}