.apilist-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1% 10% 0 10%;
}

.apilist-main {
  display: flex;
  flex-wrap: wrap;
  /* align-items: center; */
  justify-content: center;
  margin: 1% 10% 0 10%;
  padding-bottom: 100px;
}
